# config.py
SERVER_HOST = "mqqt-broker.example.org"
SERVER_PORT = 8883
SERVER_KEEPALIVE = 60
SERVER_USER = 'user'
SERVER_PASS = 'pass'
SERVER_CERT = '/opt/carmonitor/certs/example.cert'
CLIENT_ID = 'carname'
TRACK_PATH = '/opt/carmonitor/log/'
