#!/usr/bin/python
# -*- coding: utf-8 -*-
#
# CarMonitor Configuration File
# 
# Author: Patrick Schmidt <patrick@ealp-net.at>
# License: Apache License, Version 2.0
#

# Collector Configurations
collector = {
	'system': {
		'timedelta': 600.0 		# Maximum delta in seconds between system updates
	},
	'enviro': {
		'timedelta': 60.0, 		# Maximum delta in seconds between environment updates
		'temperature': 0.1,  	# Maximum temperature value change between updates in degrees celcius
		'pressure': 1.0, 		# Maximum pressure value change between updates in Pascal
		'accelerometer': 0.2	# Maximum value change between accelerometer updates in G
	},
	'gps': {
		'timedelta': 60.0, 		# Maximum delta in seconds between gps updates
		'distance': 20.0, 		# Maximum distance between to gps locations in meters to trigger an update
		'speed': 0.5			# Minimum speed in meter per seconds to trigger an update
	}
}

# Server Configuration
server = {
	'host': 'mqqt-broker.example.org',
	'port':	8883,
	'cert': '/opt/carmonitor/certs/example.cert'
}

# Client Configuration
client = {
	'id': 'carname',		# ID of the local mqtt client
	'user': 'username',		# Username 
	'pass': 'password',		# Password
	'prot': 'influx'		# Protocol used (json = JSON or influx = InfluxDB Line Protocol)
}

# Storage options
storage = {
	'time': 15,								# time for messages to stay in the in-memory queue until they are written to the storage
	'path': '/opt/carmonitor/messages/',	# path where messages are stored
}
